/* --- Base Resets: Start --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* makes default font 10px */
}
/* --- Base Resets: End --- */

/* --- Typography: Start --- */
body {
  color: #0a0a0a;
}
/* --- Typography: End --- */
